---
import SliderAbout from '@components/SliderAbout.astro';
import Layout from '@layouts/Layout.astro';

import jsonData from '@scripts/util/data/infoSliderAbout.json';

const imagenes = jsonData.map((item) => item.imagen);
const descripcion = jsonData.map((item) => item.descripcion);
---

<Layout title="Acerca de nosotros - Bloom">
  <main class="container mx-auto my-8 h-screen px-4">
    <SliderAbout imagenes={imagenes} descripcion={descripcion} client:load />
  </main>
</Layout>
<script>
  import '/src/scripts/components/slider.js';
</script>
