---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Acerca de nosotros - Bloom">
  <main class="container mx-auto my-8 px-4">
    <h1 class="mb-6 text-3xl font-bold">Acerca de nosotros</h1>
    <p class="text-lg">Información sobre nuestra empresa.</p>
  </main>
</Layout>
