---
export interface Product {
  nombre: string;
  precio: number;
  imagen: string;
}

interface Props {
  productos: any[];
  limite?: number;
}
const { productos, limite } = Astro.props;

const productosMostrar = limite ? productos.slice(0, limite) : productos;
---

<article class="container mx-auto my-8 h-full w-full px-4">
  <ul
    class="grid grid-cols-1 gap-4 p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      productosMostrar.map((producto: Product) => {
        const precioFormato = new Intl.NumberFormat('es-ES', {
          style: 'currency',
          currency: 'ARS',
        }).format(producto.precio);
        return (
          <li>
            <a
              class="flex h-full cursor-pointer flex-col items-center justify-center rounded-lg border border-gray-100 bg-white bg-opacity-20 p-4 shadow-lg backdrop-blur-sm backdrop-filter transition-transform duration-300 hover:scale-105 hover:border-bloom-accent hover:shadow-xl hover:shadow-bloom-accent"
              href={`/productos/${producto.nombre
                .normalize('NFD')
                .replace(/[\u0300-\u036f]/g, '')
                .toLowerCase()
                .replace(/[^a-z0-9]+/g, '-')}`}
            >
              <img
                src={producto.imagen}
                alt={producto.nombre}
                class="h-24 w-24 object-contain sm:h-28 sm:w-28 md:h-32 md:w-32"
              />
              <h3 class="mt-2 text-center text-sm font-semibold md:text-base lg:text-lg">
                {producto.nombre}
              </h3>
              <p class="mt-2 text-center text-xs text-gray-700 md:text-sm">
                Producto natural Seytú para el cuidado personal y bienestar.
              </p>
              <p class="mt-2 text-xs font-bold md:text-sm">
                Precio: {precioFormato}
              </p>
            </a>
          </li>
        );
      })
    }
  </ul>
</article>
