---
export interface Product {
  nombre: string;
  precio: number;
  imagen: string;
}
const { listaProductos } = Astro.props;
---

<article>
  <ul>
    {
      listaProductos.map((producto: Product) => (
        <li>
          <img src={producto.imagen} alt={producto.nombre} />
          <h3>{producto.nombre}</h3>
          <p>Precio: ${producto.precio}</p>
        </li>
      ))
    }
  </ul>
</article>
